doctype 5
html(xmlns="http://www.w3.org/1999/xhtml", ng-app="ratchet-builder")
    head
        meta(charset="utf-8")
        title Ratchet-Builder
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        link(rel="apple-touch-icon-precomposed", sizes="114x114", href="img/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="img/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon-precomposed", sizes="57x57", href="img/apple-touch-icon-57x57.png")
        link(rel="stylesheet", href="css/ratchet.css")
        link(rel="stylesheet", href="lib/codemirror/lib/codemirror.css")
        link(rel="stylesheet", href="lib/codemirror/theme/eclipse.css")
        link(rel="stylesheet", href="css/docs.css")
        link(rel="stylesheet", href="css/prettify.css")
        link(rel="stylesheet", href="css/elusive-webfont.css")
        block cssext
        script(type="text/javascript", src="js/3p/angular.min.js")
        script(type="text/javascript", src="js/3p/jquery-1.8.3.min.js")
        script(type="text/javascript", src="js/3p/ratchet.js")
        script(type="text/javascript", src="lib/codemirror/lib/codemirror.js")
        script(type="text/javascript", src="lib/codemirror/mode/xml/xml.js")
        script(type="text/javascript", src="lib/codemirror/mode/javascript/javascript.js")
        script(type="text/javascript", src="lib/codemirror/mode/css/css.js")
        script(type="text/javascript", src="lib/codemirror/mode/htmlmixed/htmlmixed.js")
        script(type="text/javascript", src="js/3p/prettify.js")
        script(type="text/javascript", src="js/3p/fingerblast.js")
        block jsext
    body(ontouchstart="")
        block content